.navbar-container{
    width: 100%;
}
.navbar-header{
    width: 30%;
    height: 70px;
    line-height: 70px;
}
.navbar-header:first-child{
    width: 70%;
}
.navbar-header .logo{
    height: 34px;
    margin-bottom: 12px;
}
.singleLine{
    margin: 0 60px 0 20px;
    font-size: 20px;
    color: white;
}

.navbar-header .adminName{
    font-size: 1rem;
    font-weight: bold;
    line-height: 70px;
}
.navbar-header .userName{
    font-size: 1rem;
    color: #869AB2;
    margin-right: 2rem;
}
.navbar-header .logout{
    color: #869AB2;
    padding-right: 2rem;
}
.navbar-header .logout:hover{
    color: #a6b4c4;
}
.fa-user-circle-o{
    font-size: 1rem;
    margin-right: 0.6rem;
    color: #869AB2;
}
.nav-list>li{
    width: 100%;
}
.sidebar-collapse{
    margin-top: 30px;
}
.dropdown-toggle::after{
    display: none;
}
.nav-list>li>a{
    height: 40px;
    line-height: 40px;
}
.nav-list #bgColor{
    color: #ffffff !important;
}
.nav-list .bgColor2{
    color: #ffffff !important;
}
.nav-list #bgColor3{
    color: #ffffff !important;
}
.company{
    margin-top: 80px;
    color: #8E8E8E;
}
.company div:first-child{
    text-overflow:ellipsis;
    overflow:hidden;
}
#sidebar{
    background-color: #2E2E38;
}
#sidebar::before{
    background-color: #2E2E38;
}
#sidebar .nav-list>li a{
    background-color: #383845;
    color: #99A9B9;
}
#sidebar .nav-list>li a:hover{
    color: #f5f7f9;
}
#sidebar .submenu li a{
    background-color: #2E2E38;
    color: #99A9B9;
}
.nav-list .icon-double-angle-right{
    visibility: hidden !important;
    background-color: #2E2E38 !important;
    color: #99A9B9;
    margin-left: 15px;
}

.nav-list .submenu li a:hover .icon-double-angle-right{
    visibility: visible !important;
}
#sidebar-collapse{
    background-color: #2E2E38;
    border: none;
}
#sidebar-collapse:before{
    border-color: #99A9B9;
}
.sidebar-collapse>[class*="icon-"]{
    background-color: #2E2E38;
    border-color: #99A9B9;
}
#sidebar-collapse .icon-double-angle-right,#sidebar-collapse .icon-double-angle-left{
    color: #99A9B9;
}
#sidebar .nav-list>li{
    border: none;
}
#sidebar .nav-list>li>.submenu>li:first-child>a{
    border: none;
}
#sidebar .nav-list>li .submenu>li>a{
    border: none;
}
#sidebar .submenu{
    border: none;
}
#running-state{
    background-color: #2E2E38 !important;
    padding-left: 10px;
    font-weight: bold;
}
#sidebar .nav-list>li>.submenu:before{
    border: none;
}
.menu-min .nav-list>li>a>.menu-text{
    background-color: #383845;
    border: none !important;
}
.menu-min .nav-list>li>a.dropdown-toggle>.menu-text{
    border-color: #383845;
}
.menu-min .nav-list>li a:before{
    border: none;
}
.menu-min .submenu{
    border: none;
}
.menu-min .nav-list>li>a.dropdown-toggle:before{
    width: 100px;
}
.menu-min .nav-list>li>a.dropdown-toggle>.menu-text{
    left: 44px;
}
.fa-first-order{
    margin-right: 2px;
}
.nav-list .fa{
    margin-left: 10px;
    font-size: 14px;
}
#sidebar .nav-list .submenu li span{
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
}
#sidebar .menu-text{
    font-size: 14px;
    font-weight: bold;
}
