.titleCon{
    color: #656565;
    height: 56px;
    background-color: #f1f2f4;
}
.titleCon .col-1{
    line-height: 56px;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    cursor: pointer;
    min-width: 143px !important;
    box-sizing: border-box;
}

#clicked{
    color: #67AEF5;
    border-bottom: 3px solid #67AEF5;
    box-sizing: border-box;
}
.top{
    margin-bottom: 18px;
}

#dhcp-set{
    padding-top: 20px;
    font-size: 14px;
    color: #000000;
}
#dhcp-set .row{
    padding: 0 36px;
}

#dhcp-set .row .col-1{
    height: 31px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 0;
    line-height: 31px;
    color: #000000;
    min-width: 137px !important;
}
#addStaticList span{
    vertical-align: baseline;
}
#addStaticList .fa-plus-circle{
    color: #78B6F4;
}

#addStaticList span{
    color: #3887D8;
    font-size: 14px;
}
#addStaticList span:hover{
    color: #78B6F4;
}
#addStaticList span:hover .fa-plus-circle{
    color: #3887D8;
}


#deleteStaticList .fa-trash-o{
    color: #869AB2;
}

#deleteStaticList span{
    color: #869AB2;
    font-size: 14px;
    cursor: pointer;
}
#deleteStaticList span:hover{
    color: #F86F7F;
}
#deleteStaticList span:hover .fa-trash-o{
    color: #F86F7F;
}

#collapseExample input{
    margin-left: 15px;
    text-indent: 15px;
    width: 250px;
    border: none;
    border-bottom: 1px solid #8b9aa3;
    outline: none;
    color: #a34335;
}

#dhcp-status{
    position: absolute;
    top: 116px;
    left: 0;
    font-weight: bold;
    margin-top: 25px;
    display: none;
}
#dhcp-ap{
    position: absolute;
    top: 116px;
    left: 0;
    font-weight: bold;
    margin-top: 25px;
    display: none;
}
#dhcp-set{
    position: absolute;
    top: 116px;
    left: 0;
}


#staticTableList .active{
    background: #49A3FF;
    color: white;
}
#staticTableList .dhcpTr:hover{
    background: #49A3FF;
    color: white;
}
#collapseExample .tips{
    font-size: 12px;
    color: red;
    margin-left: 220px;
    display: none;
}
#addOneList{
    font-size: 14px;
	background-color: #49A3FF;;
    padding: 0.2rem 0.55rem;
	color: white;
	margin-right: 50px;
}
#addOneList:hover{
	background: #037efc;
}
#giveUp{
    font-size: 14px;
    padding: 0.2rem 0.55rem;
	background: #6f777b;
	color: white;
}
#giveUp:hover{
	background: #5a5c5e;
}
.ifOverFlow{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
#leaseTimeTips{
    font-size: 12px;
    color: red;
    line-height: 30px;
}

.tips{
    display: none;
}
#custmerNumTip{
    line-height: 38px;
    font-size: 12px;
    color: red;
    margin-left: 10px;
}


.form-control-2{
    width: 60px;
    margin-right: 6px;
}
.form-control-2,.custom-select-2{
    font-size: 14px;
    height: 30px;
    padding: 0.3rem  0.5rem;
    color: #0a2152;
    text-align: center;
    border: 1px solid #ced4da;
    vertical-align: middle;
    border-radius: 3px;
    outline: #1b87f8;
}
.custom-select-2{
    width: 60px;
}
.form-control-2:focus{
    box-shadow: #1b87f8;
}

.custom-select-2 option{
    color: #0a2152;
    font-size: 14px;
}

.dhcpListTitle, .dhcpApTitle, .dhcpStatusTitle{
    height: 36px;
    border-radius: 3px;
    border: 1px solid #D0DFED;
    background: #EDF3F8;
    padding: 0 20px;
    margin-bottom: 20px;
}
.dhcpListTitle span,.dhcpApTitle span,.dhcpStatusTitle span{
    color: #859FBE;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
}

.tableCon{
    padding: 0;
    border-radius: 5px;
}

.tableCon tr{
    font-size: 14px;
}
.tableCon tr th,.tableCon tr td{
    padding: 0.56rem;
}
.thBorder th{
    border-bottom: none !important;
}
.ifOverFlow{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.commonlist .row{
    padding: 0 36px;
    font-weight: normal;
}