body,html{
    height: 100%;
}

.row{
    padding: 2px 36px 0 36px !important;
}
#pppoeCon .row,#staticCon .row,#g3g4Con .row,#handCon .row{
    padding: 2px 0 0 !important;
}
.col-1{
    height: 31px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 0;
    line-height: 31px;
    color: #000000;
    min-width: 137px !important;
}

.lanConfigTitle span,.wanConfigTitle span{
    color: #859FBE;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
}
.lanConfigTitle,.wanConfigTitle{
    height: 36px;
    border-radius: 3px;
    border: 1px solid #D0DFED;
    background: #EDF3F8;
    padding: 0 20px;
    margin-bottom: 20px;
}

#LanSet{
    padding-bottom: 25px;
    padding-top: 20px;
}




