.container-fluid span{
    font-size: 14px;
}
#interface,#lanState,#wanState{
    margin-top: 20px;
    padding: 0 36px;
}
.interfaceStateTitle,.lanStateTitle,.wanStateTitle{
    font-size: 16px;
    color: #5A82B0;
    padding: 10px 0 10px 20px;
}
#interface .row,#lanState .row,#wanState .row{
    margin: 0;
    padding: 0;
    border: 1px solid #E7E7E7;
}
.interfaceStateCon .col-1 span:first-of-type{
    display: block;
    font-size: 20px;
    color: #5E666E;
    padding: 5px 0;
}

.interfaceStateCon .col-1:hover{
    box-shadow: 1px 1px 1px #E7E7E7,-1px -1px 1px #E7E7E7;
    background-color: #ffffff;
}

.interfaceStateCon .col-1{
    padding: 30px 0;
    min-width: 120px;
}

.d-flex div{
    padding: 30px 0;
    margin-right: 30px;
}

#interface .statusImg{
    width: 32px;
    height: 32px;
}

#statusList{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 200px;
}
#statusList .statusTitle{
    font-size: 16px;
    border-bottom: 1px solid #8089a0;
    color: #404040;
    font-weight: bold;
}
#statusList span{
    font-size: 14px;
}
#statusList .container-fluid .row>div{
    height: 30px;
    line-height: 30px;
    color: #545b62;
    font-weight: bold;
}

.connect-on{
    background: #4FD591;
}
.connect-off{
    background: #DADCDF;
}

.wanStatusItem,.lanStatusItem{
    color: #67AEF5;
    margin-left: 5px;
}
#faColorOn{
    color: #4FD591;
}
#faColorOff{
    color: #DADCDF;
}
#loadingCon{
    position: fixed;
    z-index: 100;
}


