
.subTitle{
    height: 36px;
    border-radius: 3px;
    border: 1px solid #D0DFED;
    background: #EDF3F8;
    padding: 0 20px;
    margin-bottom: 20px;
}
.subTitle span{
    color: #859FBE;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
}
.row{
    padding: 0 36px;
}
