
#reboot,#reset{
    text-align: center;
    width: 56px;
    height: 56px;
    display: inline-block;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    line-height: 56px;
    transition: background-color 0.3s;
}
#reboot{
    background-color: #65B2F9;
}
#reset{
    background-color: #6f777b;
}
#reboot:hover{
    background-color: #2693f7;
}
#reset:hover{
    background-color: #5a5c5e;
}


#uploadBtn:hover{
    background-color: #2693f7;
}

#update input[type='file']{
    color: #4a577d;
    background: #cce5ff;
    margin-right: 30px;
    font-size: 14px;
}
#isCheck{
    margin-right: 2px;
    height: 14px;
    width: 14px;
    vertical-align: middle;
    margin-bottom: 2px;
}
.saveConfig{
    color: #4a577d;
    font-size: 14px;
}

#userPwd{
    margin-top: 36px;
    margin-bottom: 36px;
}
#userPwd .row{
    margin-bottom: 18px;
    padding: 2px 36px 0 36px;
}
.userPwdTitle{
    height: 36px;
    border-radius: 3px;
    border: 1px solid #D0DFED;
    background: #EDF3F8;
    padding: 0 20px;
    margin-bottom: 10px;
}
.userPwdTitle span,.uploadTitle span{
    color: #859FBE;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
}

#rebootReset,#update{
    margin-top: 36px;
    padding: 0 36px;
}
.rebootResetTitle,.uploadTitle{
    font-size: 16px;
    color: #5A82B0;
    padding: 10px 0 10px 20px;
}
#rebootReset .row,#update .row{
    margin: 0;
    padding: 0;
    border: 1px solid #E7E7E7;
}



