body{
    background: #FEFEFE;
}
.navTitle{
    height: 46px;
    background-color: #F5F5F5;
    color: #8e9a9f;
    font-size: 16px;
    line-height: 46px;
    padding-left: 36px;
    font-weight: bold;

}
.span2{
    color: #8dc2f6;
}
.middleLine{
    margin: 0 15px;
}

#loadingCon{
    position: fixed;
    z-index: 100;
    display: none;
}