
#loadingCon{
    position: fixed;
    z-index: 100;
}
.authStateTitle{
    height: 36px;
    border-radius: 3px;
    border: 1px solid #D0DFED;
    background: #EDF3F8;
    padding: 0 20px;
    margin-bottom: 20px;
}
.authStateTitle span{
    color: #859FBE;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
}

.headerCon,.customerList{
    margin-top: 36px;
}
.headerCon .row,.customerList .row{
    padding: 0 36px;
}
.detailCon{
    padding: 20px 0;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    font-size: 14px;
}
.detailCon div:first-child{
    padding-left: 22px;
}
.detailCon h4{
    font-size: 14px;
    margin: 0 0 10px 0;

}

.detailCon .authState{
    color: #32788f;
}
.detailCon .col-2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.tableCon{
    padding: 0;
    border-radius: 5px;
}

.tableCon tr{
    font-size: 14px;
}
.tableCon tr th,.tableCon tr td{
    padding: 0.56rem;
}
.thBorder th{
    border-bottom: none !important;
}
.ifOverFlow{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}