<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .four{
           font-size: 150px;
            color: #5b80ce;
            margin-top: 100px;
        }
        .log{
            font-size: 50px;
            color: #894a38;
            margin-top: 50px;
        }
        a{
            font-size: 18px;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <div class="four">404</div>
    <div class="log">登录失效,点击按钮重新登录</div>
    <div style="margin-top: 50px"><a href="#" id="alink">点击返回</a></div>
</div>
<script>
 var host=window.location.host;
 var alink=document.getElementById('alink');
 alink.onclick=function () {
     window.location=parent.window.ipChange(host);
 }
</script>

</body>
</html>