<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/css/forms.css"/>
    <link rel="stylesheet" href="../static/css/NetworkConfig.css" />
    <link rel="stylesheet" href="../static/css/modal.css" />
    <link rel="stylesheet" href="../static/css/title.css" />
</head>
<body>
<div class="navTitle">
    <span>网络管理</span><span class="middleLine">/</span><span class="span2">网络设置</span>
</div>
<!-- LAN -->
<div class="container-fluid" id="LanSet">
    <div class="row">
        <div class="col-12 lanConfigTitle">
            <span>LAN网络设置</span>
        </div>
    </div>

    <div class="row">
        <div class="col-1">VLAN号 : </div>
        <div class="col-2">
            <input type="text" class="form-control" id="inputText" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right tipBox">
            <span class="tips">VLAN号格式有误</span>
        </div>
    </div>

    <div class="row">
        <div class="col-1">IP地址 : </div>
        <div class="col-2">
            <input type="text" class="form-control" id="inputText2">
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right tipBox">
            <span class="tips">IP地址格式有误</span>
        </div>
    </div>

    <div class="row">
        <div class="col-1">子掩护码 : </div>
        <div class="col-2">
            <input type="text" class="form-control" id="inputText3">
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right tipBox">
            <span class="tips">子掩护码格式有误</span>
        </div>
    </div>

    <div class="row">
        <div class="col-1">网关 : </div>
        <div class="col-2">
            <input type="text" class="form-control" id="inputText4">
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right tipBox">
            <span class="tips">网关格式有误</span>
        </div>
    </div>

    <div class="row">
        <div class="col-1">主DNS : </div>
        <div class="col-2">
            <input type="text" class="form-control" id="inputText5">
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right tipBox">
            <span class="tips">主DNS格式有误</span>
        </div>
    </div>

    <div class="row">
        <div class="col-1">副DNS : </div>
        <div class="col-2">
            <input type="text" class="form-control" id="inputText6">
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right tipBox">
            <span class="tips">副DNS格式有误</span>
        </div>
    </div>

</div>

<!-- WAN -->

<div class="container-fluid" id="WanSet">
    <div class="row">
        <div class="col-12 wanConfigTitle">
            <span>WAN网络设置</span>
        </div>
    </div>

    <div class="row" style="margin-bottom: 18px">
        <div class="col-1">WAN模式 : </div>
        <div class="col-2">
            <select class="custom-select" id="firstSelect">
                <option value="0"selected>自动获取</option>
                <option value="1">拨号</option>
                <option value="2">静态</option>
                <option value="3">4G拨号</option>
            </select>
        </div>
    </div>

    <div class="row" id="innerCon">
        <div class="container-fluid" style="display: none" id="pppoeCon">
            <div class="row">
                <div class="col-1">用户名 : </div>
                <div class="col-2">
                    <input type="text" class="form-control" id="username" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right tipBox">
                    <span class="tips">用户名不能为空</span>
                </div>
            </div>

            <div class="row">
                <div class="col-1">密码 : </div>
                <div class="col-2">
                    <input type="password" class="form-control" id="pwd">
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right tipBox">
                    <span class="tips">密码不能为空</span>
                </div>
            </div>

            <div class="row">
                <div class="col-1">MTU : </div>
                <div class="col-2">
                    <input type="text" class="form-control" id="MTUText">
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right tipBox">
                    <span class="tips">MTU请输入数字</span>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="display: none" id="staticCon">
            <div class="row">
                <div class="col-1">IP地址 : </div>
                <div class="col-2">
                    <input type="text" class="form-control" id="ipAddr">
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right tipBox">
                    <span class="tips">IP地址格式有误</span>
                </div>
            </div>

            <div class="row">
                <div class="col-1">子掩护码 : </div>
                <div class="col-2">
                    <input type="text" class="form-control" id="netMask">
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right tipBox">
                    <span class="tips">子掩护码格式有误</span>
                </div>
            </div>

            <div class="row">
                <div class="col-1">网关 : </div>
                <div class="col-2">
                    <input type="text" class="form-control" id="gatWay">
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right tipBox">
                    <span class="tips">网关格式有误</span>
                </div>
            </div>

            <div class="row">
                <div class="col-1">主DNS : </div>
                <div class="col-2">
                    <input type="text" class="form-control" id="mainDns">
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right tipBox">
                    <span class="tips">主DNS格式有误</span>
                </div>
            </div>

            <div class="row">
                <div class="col-1">副DNS : </div>
                <div class="col-2">
                    <input type="text" class="form-control" id="subDns">
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right tipBox">
                    <span class="tips">副DNS格式有误</span>
                </div>
            </div>

        </div>


        <div class="container-fluid" style="display: none" id="g3g4Con">
            <div class="row" style="margin-bottom: 18px">
                <div class="col-1">模式 : </div>
                <div class="col-2">
                    <select class="custom-select" id="secondSelect">
                        <option value="0" selected>电信</option>
                        <option value="1">联通/移动</option>
                        <option value="2">手填参数</option>
                    </select>
                </div>
            </div>

            <div class="row" style="margin-bottom: 18px">
                <div class="col-1">Modem device : </div>
                <div class="col-2">
                    <select class="custom-select" id="thirdSelect">
                    </select>
                </div>
            </div>


            <div class="row" id="handCon" style="display: none">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-1">Service Type : </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="serviceType">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right tipBox">
                            <span class="tips">Service Type格式有误</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">APN : </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="apn">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right tipBox">
                            <span class="tips">APN格式有误</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">PIN : </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="pin">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right tipBox">
                            <span class="tips">PIN格式有误</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">Username : </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="un">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right tipBox">
                            <span class="tips">Username格式有误</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">Password : </div>
                        <div class="col-2">
                            <input type="password" class="form-control" id="pwd2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right tipBox">
                            <span class="tips">Password格式有误</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">Dial Number : </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="dn">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right tipBox">
                            <span class="tips">Dial Number格式有误</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>                  
    </div>   
</div>
<div class="container-fluid" style="padding-bottom: 100px;padding-top: 30px">
    <div class="row handleBtn">
        <div class="col-3" style="min-width: 348px;padding-left: 30px">
            <button class="btn text-white" type="submit" style="vertical-align: top;margin-right: 50px" id="saveBtn">保存</button><button class="btn text-white" type="submit" id="resetBtn">刷新</button>
        </div>
    </div>
</div>

<div class="container-fluid" id="loadingCon">
    <div class="row">
        <div class="col-12 text-center">
            <img src="../static/images/Flickr-1.2s-200px.gif">
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <!-- 弹窗内容 -->
    <div class="modal-content">
        <div class="modal-header">
            <h2 style="line-height: 34px">提示</h2>
            <span class="close" id="close">&times;</span>
        </div>
        <div class="modal-body" id="textBody">
            <p id="textCon"></p>
        </div>
        <div class="modal-footer">
            <span class="confirm" id="confirm">确定</span>
        </div>
    </div>
</div>
<script src='../static/js/loading.js.js'></script>
<script src='../static/js/jquery-3.3.1.min.js'></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/NetworkConfig.js"></script>
</body>
</html>