<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/css/NetworkStatus.css" />
    <link rel="stylesheet" href="../static/css/title.css"/>
</head>
<body>

<!-- head -->
<div class="navTitle">
    <span>网络管理</span><span class="middleLine">/</span><span class="span2">网络状态</span>
</div>

<div class="container-fluid" id="interface">

    <div class="row">
        <div class="col-12 interfaceStateTitle">
            网口状态
        </div>
    </div>

    <div class="row interfaceStateCon text-center" style="border-top: none">
        <div class="col-1">
            <img src="../static/images/port.png" class="statusImg">
            <span>wan</span>
            <span class="connectStatus">--</span>
        </div>
        <div class="col-1">
            <img src="../static/images/port.png" class="statusImg">
            <span>lan</span>
            <span class="connectStatus">--</span>
        </div>
        <div class="col-1">
            <img src="../static/images/port.png" class="statusImg">
            <span>lan</span>
            <span class="connectStatus">--</span>
        </div>
        <div class="col-1">
            <img src="../static/images/port.png" class="statusImg">
            <span>lan</span>
            <span class="connectStatus">--</span>
        </div>
        <div class="col-1">
            <img src="../static/images/port.png" class="statusImg">
            <span>lan</span>
            <span class="connectStatus">--</span>
        </div>
    </div>

</div>

<div class="container-fluid" id="lanState">

    <div class="row">
        <div class="col-12 lanStateTitle">
            LAN状态
        </div>
    </div>

    <div class="row lanStateCon d-flex" style="border-top: none;padding: 0 36px">
        <div>
            <span>IP地址 : </span><span class="lanStatusItem">--</span>
        </div>
        <div>
            <span>子掩护码 : </span><span class="lanStatusItem">--</span>
        </div>
        <div>
            <span>网关 : </span><span class="lanStatusItem">--</span>
        </div>
        <div>
            <span>主DNS : </span><span class="lanStatusItem">--</span>
        </div>
        <div>
            <span>副DNS : </span><span class="lanStatusItem">--</span>
        </div>
    </div>

</div>

<div class="container-fluid" id="wanState">

    <div class="row">
        <div class="col-12 wanStateTitle">
            WAN状态
        </div>
    </div>

    <div class="row wanStateCon d-flex" style="border-top: none;padding: 0 36px">
        <div>
            <span>模式 : </span><span class="wanStatusItem">--</span>
        </div>
        <div>
            <span>连接状态 : </span><span class="wanStatusItem">--</span><i class="fa fa-circle" style="margin-left: 10px;font-size: 14px"></i>
        </div>
        <div>
            <span>IP地址 : </span><span class="wanStatusItem">--</span>
        </div>
        <div>
            <span>子掩护码 : </span><span class="wanStatusItem">--</span>
        </div>
        <div>
            <span>网关 : </span><span class="wanStatusItem">--</span>
        </div>

        <div>
            <span>主DNS : </span><span class="wanStatusItem">--</span>
        </div>
        <div>
            <span>副DNS : </span><span class="wanStatusItem">--</span>
        </div>
        <div>
            <span>连接时间 : </span><span class="wanStatusItem">--</span>
        </div>
    </div>
</div>

<script src="../static/testData/networkstatus.js"></script>
<script src='../static/js/loading.js.js'></script>
<script src='../static/js/jquery-3.3.1.min.js'></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/NetworkStatus.js"></script>

</body>
</html>